.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;

  margin: 2% 18%;
  @media (max-width: 999px) {
    margin: 2% 13%;
  }
  @media (max-width: 600px) {
    margin: 2% 3%;
  }
}

.check-result {
  padding-bottom: 7px;
  display: flex;
  flex-wrap: wrap;
}

.check-result-left {
  margin: 1px;
  width: 17%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-result-right {
  margin: 1px;
  width: 77%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
