.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;

  margin: 2% 18%;
  @media (max-width: 999px) {
    margin: 2% 13%;
  }
  @media (max-width: 600px) {
    margin: 2% 3%;
  }
}
