.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;

  margin: 2% 18%;
  @media (max-width: 999px) {
    margin: 2% 14%;
  }
}

.main-card {
  margin-bottom: 27px;

  mat-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
  }

  mat-card-footer {
    text-align: center;
    color: dimgray;
    padding-bottom: 7px;
  }
}

table {
  width: 100%;
}

th[mat-header-cell],td[mat-cell] {
  text-align: center;
}

.check-icon {
  font-size: x-large;
}

.check-icon-success {
  color: forestgreen;
}

.check-icon-fail {
  color: indianred;
}

/* Column Widths */
.mat-column-tid {
  width: 127px;
  max-width: 177px;
}
.mat-column-edit_time {
  width: 177px;
  max-width: 227px;
}
