.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;

  margin: 2% 18%;
  @media (max-width: 999px) {
    margin: 2% 13%;
  }
  @media (max-width: 600px) {
    margin: 2% 3%;
  }
}

table {
  width: 100%;
}

tr.check-row:hover {
  background: whitesmoke;
}

th[mat-header-cell], td[mat-cell] {
  text-align: center;
}

.check-icon {
  font-size: x-large;
}

/* Column Widths */
.mat-column-tid {
  width: 77px;
  max-width: 127px;
}

.mat-column-edit_time {
  width: 177px;
  max-width: 227px;
}

.info-card {
  margin-top: 20px;
}
