<div class="wrapper">
  <header>
    <mat-toolbar color="primary">
      <span>{{ title }}</span>
      <span class="brand-spacer"></span>
      <nav>
        <button mat-button routerLink="{{ it.path }}" *ngFor="let it of navList">{{ it.name }}</button>
      </nav>
      <span class="flex-space"></span>
      <ng-container *ngIf="friendLink && friendLink.length > 0">
        <span class="friend-link-title">友情链接</span>
        <a mat-stroked-button href="{{ it.path }}" *ngFor="let it of friendLink">{{ it.name }}</a>
      </ng-container>
    </mat-toolbar>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="copyright">
      Copyright © 2017 - 2019 xingyunhm.com 版权所有
    </div>
  </footer>
</div>
