.wrapper {
  height: auto;
  min-height: 100%;
  background-color: rgba(0, 0, 0, .03);
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav-button {
  @media (max-width: 600px) {
    display: none;
  }
}

.nav-menu {
  display: none;
  @media (max-width: 600px) {
    display: flex;
  }
}

header {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  mat-toolbar {
    .brand-spacer {
      margin-left: 10px;
    }

    [mat-stroked-button],[mat-button] {
      margin: 0 5px;
    }
  }
}

main {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  @media (max-width: 600px) {
    margin-top: 56px;
  }
}

footer {
  position: relative;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  background-color: #E9E9E9;
}

.footer-right {
  flex-grow: 1;
  width: 50%;
  flex-direction: column;
}

.footer-left {
  flex-grow: 1;
  width: 50%;
  flex-direction: column;
}

.friend-link {
  margin-left: 50px;
}

.feedback {
  align-self: center;
}

.copyright {
  align-self: flex-end;
}

.sidenav-container {
  flex: 1;
}

.sidenav-content {
  @media (max-width: 600px) {
    padding-top: 8px;
  }
}

.sidenav-side {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
