<div class="wrapper">
  <header>
    <mat-toolbar color="primary">
      <nav class="nav-menu">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      </nav>
      <span class="brand">{{ title }}</span>
      <span class="brand-spacer"></span>
      <nav class="nav-button">
        <button mat-button routerLink="{{ it.path }}" *ngFor="let it of navList">{{ it.name }}</button>
      </nav>
      <span class="flex-space"></span>
    </mat-toolbar>
  </header>
  <main>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav mode="over" >
        <div class="sidenav-side">
          <button mat-stroked-button color="primary" routerLink="{{ it.path }}" *ngFor="let it of navList">{{ it.name }}</button>
        </div>
      </mat-sidenav>

      <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
  <footer>
    <!--
    <div class="footer-left">
      <div class="friend-link">
        <span>友情链接</span>
        <br/>
        <a mat-stroked-button *ngFor="let it of friendLink" target="_blank" href="{{ it.path }}">{{ it.name }}</a>
      </div>
    </div>
    <div class="footer-right">
    -->
      <div class="feedback">
        ヾ(ｏ･ω･)ﾉ
        <a mat-stroked-button color="primary" href="https://www.mcbbs.net/thread-682152-1-1.html" target="_blank">点击此处</a>
        支持作者或提交反馈
      </div>
      <div class="copyright">
        Copyright © 2017 - {{ year }} <br>xingyunhm.com 版权所有
      </div>
    <!--  </div> -->
  </footer>
</div>
