/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  height: 100%;
}

main > .ng-star-inserted {
  display: flex;
  flex-direction: column;
  flex: 1;
}

th[mat-header-cell], td[mat-cell] {
  text-align: center;
}

.flex-space {
  flex: 1;
}

.server-post-content-tip {
  font-size: 15px;
}

.main-card {
  margin-bottom: 27px;

  mat-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
  }

  mat-card-footer {
    text-align: center;
    color: dimgray;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
  }
}

.color-success {
  color: forestgreen;
}

.color-warning {
  color: darkorange;
}

.color-fail {
  color: indianred;
}
