.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;

  margin: 2% 18%;
  @media (max-width: 999px) {
    margin: 2% 14%;
  }
}

.main-card {
  margin-bottom: 25px;
  padding: 10px;

  mat-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
  }
}
